* {
  font-family: 'futura' helvetica sans-serif;
}

.images {
  text-align: center;
}

.images div {
  display: inline-block;
  height: 200px;
}

.images img { 
  display: block;
  width: 150px;
  height: 150px;
  margin: 20px;
}

img {
  cursor: pointer;
}

label {
  display: inline;
  background-color: #BBB;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  margin: auto;
  text-align: center;
}

.hide {
  display: none;
}


form {
  text-align: center;
}

input {
  display: block;
  width: 80%;
  margin: 15px auto;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

p {
  text-align: center;
}



/*    Media Queries      */
@media (max-width: 800px){
  .images img {
    width: 120px;
    height: 120px;
    margin: 15px;
  }
}

@media (max-width: 440px){
  .images img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}

@media (max-width: 350px){
  .images img {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
}