body {
  font-family: 'futura' helvetica sans-serif;
  text-align: center;
  padding: 0 10%;
}

.icon {
  display: inline-block;
  background-color: #FAFAFA;
  border: 1px solid #F0F0F0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.icon img { 
  display: block;
  width: 150px;
  height: 150px;
}

label {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;

  margin: auto;
  text-align: center;
}

.hide {
  display: none;
}

input {
  display: block;
  width: 100%;
  margin: 15px auto;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/*    Media Queries      */
@media (max-width: 800px){

  .icon img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 512px){
  .icon {
    font-size: 13px;
    margin: 5px;
    padding: 5px;
  }

  .icon img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 350px){

  .icon img {
    width: 80px;
    height: 80px;
  }
}