/*
HackReactor.com theme (as of Dec 18 2013)
=========================================
light grey = #f7f9fa
dark grey = #262626
bold light blue = #45a8f1
bold blue = #0298f5

title font = Merriweather
body font = Source Sans Pro
*/

@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0 10% 50px;
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', helvetica, sans-serif;
}

.icon {
  display: inline-block;
  /*background-color: #FAFAFA;*/
  /*border: 1px solid #F0F0F0;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.7em;
  margin: 0.7em;
  cursor: pointer;
  background-color: #0298f5;
  text-align: center;
  width: 75px;
}

.icon img {
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
}

label {
  padding: 2px 5px;
  margin: auto;
  text-align: center;
}

.hide {
  display: none;
}

input {
  display: block;
  width: 100%;
  margin: 0.7em auto;
  font-size: 1.2em;
  padding: 0.5em 0;
  text-align: center;
  color: white;
  background-color: #0298f5;
  border-radius: 2px;
  border: 0;
}

/* reference source:
http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #DDD;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #DDD;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #DDD;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #DDD;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 10px 0;
}

.mute-button, .unmute-button, .day-button {
  display: block;
  width: 2.7em;
  height: 2.7em;
  margin-bottom: 0.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0298f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.mute-button {
  background-image: url('icons/volume-mute.png');
}

.unmute-button {
  background-image: url('icons/volume-medium.png');
}

.corner-icons {
  position: fixed;
  top: 1%;
  right: 1%;
}

.corner-icons *:hover {
  cursor: pointer;
}

.whos-here-heading {
  margin-bottom: 0;
}

/*    Media Queries      */

/*@media (max-width: 512px){
  .icon {
    font-size: 13px;
    margin: 5px;
    padding: 5px;
  }

  .icon img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 350px){

  .icon img {
    width: 80px;
    height: 80px;
  }
}*/
